/* `````````````````````````` LOGIN PAGE ~~~~~~~~~~~~~~~~~~~~~~~~ */
.col1{
    padding: 0;
}
.container-f {
    border: 1px solid whitesmoke;
    max-width: 100%;
    max-height: 80%;
    /* background-color: #5236FF; */
    background: linear-gradient(to bottom,#D9EDFF,#4fb8d8);
}

.container {
    margin-top: 100px;
    margin-bottom: 150px;
}
/* #lg_head{
    background-color:  #2F5CFF;
    color: #DBF4FF;
} */


.pic img {
    width: 103%;
    height: 100%;
    background: linear-gradient(to bottom,#DBF4FF, #009696);
}


/* ``````````````````````` SECOND PART  ``````````````````````````  */
.second-part {
    background-color: white;
    border-radius: 0px 30px 30px 0px;
}
#email::placeholder {
    color: black;
}

#password::placeholder {
    color: black;
}

.sec_h1 {
    margin-top: 100px;
    margin-left: 100px;
    color: #009696;
}


#email {
    width: 50%;
    margin-left: 100px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #009696;
    padding-bottom: 15px;
    background-color: transparent;
    color: black;
}
.singnupform input[type="email"]:focus {
    outline-color: #009696;
}
.singnupform input[type="password"]:focus {
    outline-color: #009696;
}

#password {
    width: 50%;
    margin-left: 100px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #009696;
    padding-bottom: 15px;
    background-color: transparent;
}

#btn {
    width: 50%;
    margin-left: 100px;
    margin-top: 20px;
    border: none;
    /* background: linear-gradient(to right, #00ffcc 99%, #00ffcc 100%); */
    /* background-color: #5236FF; */
    background-color: #009696;
    padding-bottom: 15px;
    color: white;
    font-weight: 300;
    font-size: 23px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
#btn1 {
    width: 50%;
    margin-left: 100px;
    margin-top: -16px;
    border: none;
    /* background: linear-gradient(to right, #00ffcc 99%, #00ffcc 100%); */
    /* background-color: #5236FF; */
    background-color: #009696;
    padding-bottom: 15px;
    color: white;
    font-weight: 300;
    font-size: 23px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
    margin-bottom: 11px;
}
#btn1:hover{
    background-color: #146b6b;
}
#btn:hover{
    background-color: #146b6b;
}
.sign_link a{
    text-decoration: none;
    margin-left: 120px;
    font-size: 15px;
    color: #009696;
    padding-left: 40px;
}
.container-f.container-fluid {
    margin-top: -65px;
}
.span{
    position: absolute;
    right: 300px;
    transform: translate(0,-50%);
    top: 53%;
    cursor: pointer;
}
.fa-eye{
    color: #009696;
    margin: -20px;
}

/* ```````````````````````````````````Login Page Responsive````````````````````````````````````` */
                    
                    @media only screen and (max-width: 1024px){
                      .sec_h1{
                        margin-top: 100px;
                    }
                    }
                    @media only screen and (max-width: 995px) {
                        .sec_h1{
                            margin-top: 10px;
                        }
                        .second_part{
                            padding-left: 250px;
                        }
                      }
                      @media only screen and (max-width: 750px){
                        .second_part{
                            padding-left: 120px;
                        }
                      }
                      @media only screen and (max-width: 540px){
                        .second_part{
                            padding-left: 120px;
                        }
                      }
                      @media only screen and (max-width: 550px){
                        .second_part{
                            padding-left: 120px;
                        }
                      }
                      @media only screen and (max-width: 414px){
                        .second_part{
                            padding-left: 80px;
                        }
                      }
                      @media only screen and (max-width: 375px){
                        .second_part{
                            padding-left: 90px;
                        }
                      }
                      @media only screen and (max-width: 280px){
                        .second_part{
                            padding-left: 30px;
                        }
                        .sec_h1{
                            margin-left: 100px;
                        }   
                        .second_part{
                            padding-left: 0px;
                        }                     
                      }