#navbarSupportedContent ul li a {
    /* color: grey; */
    color: #D9EDFF;
    margin-left: 20px;
}

#navbarSupportedContent ul{
    margin-right: 50px;
}


.nav_icons{
    color: white;
    font-size: 20px !important;
}
.navbar-nav{
    margin-left: 250px;
}
#navbarSupportedContent ul li a:hover {
    color: #D9EDFF;
    /* border-bottom: 1px solid #D9EDFF; */
    padding: none;
    margin: none;
}
#navbarSupportedContent ul li b{
    display: none;
}
#navbarSupportedContent ul li a:hover i{
    display: none;
}
#navbarSupportedContent ul li a:hover b{
    display: block;
    font-size: 15px !important;
}
#navbarSupportedContent ul li a .department:hover{
    font-size: 15px !important;
}
.me-5 {
  margin-right: 2.2rem !important;
}


.in {
    cursor: pointer;
}
.up {
    cursor: pointer;
}
.navbar-brand {
    /* color: black; */
    /* color: rgb(2, 212, 177); */
    color: #D9EDFF;
    font-weight: 200;
}
.navbar-brand:hover {
    /* color: #5236FF; */
    color: #D9EDFF;
}
.navbar-custom {
    /* background-color: rgb(2, 212, 177); */
    /* background-color: #5236FF; */
    background-color: #009696;
    /* font-size: large; */
    /* border-radius: 30px; */
    padding: none;
}
/* navbar toggler icon */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    border: 1px xolid white;
}
.navbar-toggler {
    border: 1px solid white;
}
.dropdown-menu {
    /* background-color: rgb(2, 212, 177); */
    background-color: #009696;
    padding: 20px;
}

.divider{
    border-top: 1px solid #D9EDFF;
    opacity: 1;
}

.dropdown-item{
    color: #D9EDFF !important;
}
.dropdown-item:hover{
    color:#009696 !important;
    background-color: white !important;
    border: none !important;
}
.login{
    margin-left: 200px;
    font-size: larger;
}
.signup{
    padding-right: 50px;
    font-size: larger;
}
/* ```````````` Search ````````````` */
/* #search{
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 1px solid white;
    border-radius: 40px;
    width: 200px;
    padding-left: 10px;
    margin-left: 50px;
} */

/* ```````````````````````````` Navbar Responsive ``````````````` */
@media (min-width: 999px) and (max-width: 1250px) {
    body {
      width: fit-content;
    }
  }

/* ``````````````````````````````````````````````` */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f5f5f5;
  }
  .row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column1 {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
    padding-top: 50px;
  }
  .cards {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .cards .img-container {
    width: 8em;
    height: 8em;
    background-color: #009696;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .cards_img img{
    height:115px;
    width: 110px;
    border-radius: 50%;
  }
  .cards h3 {
    font-weight: 500;
  }
  .para {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .fab{
    color: #009696;
  }
  .fab:hover{
    color: white;
  }
  .fa-envelope{
    color: white;
  }
  .fa-envelope:hover{
    color: white;
  }
  .cards a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .cards:hover {
    /* background: linear-gradient(#6045ea, #8567f7); */
    background: #009696;
    color: #ffffff;
  }
  .cards:hover .fa-solid{
    color: white;
}
  .cards:hover .fab{
    color: white;
}
.center{
    margin-left: 440px;
}

  .cards:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .cards {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }


  /* ```````````````````````````````````` */
          /* ProfileDropDown */
          /* .P_icons i{
            padding-left: 60px;
            padding-right: 15px;
            padding-top: 30px;
            color: black !important;
          }
          .User_icons i{
            padding-left: 30px;
            padding-right: 15px;
            padding-top: 30px;
            color: black !important;
          } */
          /* .post_icon i{
            padding-left: 45px;
            padding-right: 15px;
            padding-top: 30px;
            color: black !important;
          } */
          /* .answer_icon i{
            padding-left: 20px;
            padding-right: 15px;
            padding-top: 30px;
            color: black !important;
          } */
          /* .Logout_icon i{
            padding-left: 58px;
            padding-right: 15px;
            padding-top: 30px;
            color: black !important;
          } */
          /* .zohaib_icon i{
            padding-left: 58px;
            padding-right: 15px;
            padding-top: 30px;
            color: black !important;
          } */
          .hover_Picon{
            display: flex;
            justify-content:flex-start;
            margin-right: 50px;
            margin-top: 20px;
          }
          .space{
            padding-left: 30px;
          }
          .Person2{
            padding-left: 50px;
          }
          .DriveFileRenameOutline{
            padding-left: 20px;
          }
          .QuestionAnswer{
            padding-left: 10px;
          }
          .Login{
            padding-left: 45px;
          }
          .fa-user{
            color: white;
            margin-top: 15px;
            cursor: pointer;
          }
          .dropDownProfile ul li a{
            text-decoration: none;
            color: black;
          }
          .dropDownProfile ul li{
              list-style: none;
          }
          .dropDownProfile ul li:hover{
            border-bottom: 1px solid silver;
          }
          
          

          .dropDownProfile{
            position: fixed;
            top: 4.6rem;
            right: 5.5rem;
            /* width: 150px; */
            border-radius: 8px;
            background-color: white;
            border: 1px solid grey;
            color: black;
            z-index: 1;
          }
          .dropDownProfile::before{
            content: '';
            position: absolute;
            top: -0.6rem;
            right: 1.1rem;
            width: 15px;
            height:18px;
            transform: rotate(47deg);
            background-color: white;
            border-left: 1px solid gray;
            border-top: 1px solid gray;
            color: black;


            
          }